In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("global_street_food_insights.csv")

In [3]:
df.shape

(4500, 8)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Dish Name            4500 non-null   object
 1   Country              4500 non-null   object
 2   Region/City          4500 non-null   object
 3   Ingredients          4500 non-null   object
 4   Description          4500 non-null   object
 5   Cooking Method       4500 non-null   object
 6   Typical Price (USD)  4500 non-null   float64
 7   Vegetarian           4500 non-null   object
dtypes: float64(1), object(7)
memory usage: 281.4+ KB

In [5]:
df.head()

,Dish Name,Country,Region/City,Ingredients,Description,Cooking Method,Typical Price (USD),Vegetarian
0,Takoyaki,Japan,Osaka,"Octopus, Flour Batter, Bonito Flakes, Green On...","Crispy and hot, often served with sauces or ch...",Fried,3.28,No
1,Vada Pav,India,Mumbai,"Potato, Spices, Bread Bun, Chutney","Crispy and hot, often served with sauces or ch...",Fried,2.37,Yes
2,Funnel Cake,USA,Texas,"Batter, Sugar, Oil","Crispy and hot, often served with sauces or ch...",Fried,2.78,Yes
3,Kathi Roll,India,Kolkata,"Flatbread, Egg, Chicken, Onions, Chutney",Charred to perfection with a smoky flavor.,Grilled,1.89,No
4,Pad Thai,Thailand,Bangkok,"Rice Noodles, Tofu, Eggs, Peanuts, Bean Sprouts",Quickly tossed in a hot pan with bold flavors.,Stir-Fried,3.48,Yes

In [6]:
df.tail()

,Dish Name,Country,Region/City,Ingredients,Description,Cooking Method,Typical Price (USD),Vegetarian
4495,Koshari,Egypt,Cairo,"Lentils, Rice, Pasta, Tomato Sauce, Onions",A hearty mix of grains topped with spicy tomat...,Boiled,2.8,Yes
4496,Koshari,Egypt,Cairo,"Lentils, Rice, Pasta, Tomato Sauce, Onions",A hearty mix of grains topped with spicy tomat...,Boiled,2.8,Yes
4497,Koshari,Egypt,Cairo,"Lentils, Rice, Pasta, Tomato Sauce, Onions",A hearty mix of grains topped with spicy tomat...,Boiled,2.8,Yes
4498,Koshari,Egypt,Cairo,"Lentils, Rice, Pasta, Tomato Sauce, Onions",A hearty mix of grains topped with spicy tomat...,Boiled,2.8,Yes
4499,Suya,Nigeria,Lagos,"Beef, Spices, Skewers",Spicy meat skewers grilled to perfection.,Grilled,2.5,No

In [7]:
df.columns

Index(['Dish Name', 'Country', 'Region/City', 'Ingredients', 'Description',
       'Cooking Method', 'Typical Price (USD)', 'Vegetarian'],
      dtype='object')

In [8]:
df = df.rename(columns={'Dish Name': 'Dish_Name', 'Cooking Method': 'Cooking_Method', 'Typical Price (USD)': 'Typical_Price'})

In [9]:
df.columns

Index(['Dish_Name', 'Country', 'Region/City', 'Ingredients', 'Description',
       'Cooking_Method', 'Typical_Price', 'Vegetarian'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4500 entries, 0 to 4499
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dish_Name       4500 non-null   object
 1   Country         4500 non-null   object
 2   Region/City     4500 non-null   object
 3   Ingredients     4500 non-null   object
 4   Description     4500 non-null   object
 5   Cooking_Method  4500 non-null   object
 6   Typical_Price   4500 non-null   float64
 7   Vegetarian      4500 non-null   object
dtypes: float64(1), object(7)
memory usage: 281.4+ KB

In [11]:
df.duplicated().sum()

np.int64(1288)

In [12]:
df.drop_duplicates(inplace=True)

In [13]:
df.duplicated().sum()

np.int64(0)

In [14]:
df.shape

(3212, 8)

In [15]:
df.isnull().sum()

Dish_Name         0
Country           0
Region/City       0
Ingredients       0
Description       0
Cooking_Method    0
Typical_Price     0
Vegetarian        0
dtype: int64

In [16]:
df.describe()

       Typical_Price
count    3212.000000
mean        2.581208
std         1.386575
min         0.200000
25%         1.360000
50%         2.570000
75%         3.780000
max         5.000000

In [17]:
df.to_csv("global_street_food_insights_updated.csv",index=False)